@media (max-width: 800px) {
    #leftpaneAccordian {
        display: none;
    }
}

#leftpaneAccordian {
    height: 100vh;
    background-color: rgba(212, 216, 224, 0.664);
    max-width: 500px;
    min-width: 150px;
    position: absolute;
    width: 200px;
    resize: horizontal;
    overflow: auto;
}

#leftpaneAccordian::-webkit-resizer {
    background-color: red;
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: rgba(212, 216, 224, 0.664);
    border-radius: 0px;
    padding: 6px;
}

.card {
    background-color: Transparent;
    border-radius: 0px;
}

.btn {
    color: rgb(100, 100, 100);
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    width: 110px;
}

.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}

.resizeDrawer {
    background-color: black;
    height: 100%;
    float: right;
    width: 2px;
    cursor: col-resize;
}