.rightpane {
    height: 100vh;
    width: 20px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden;
    background-color: rgba(172, 174, 177, 0.664);
}

.rightpane a {
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

a {
    cursor: pointer;
}

.rightpane a:hover {
    color: #cecece;
}

.btn {
    box-shadow: 0px 0px 20px 0px #000000;
}

.openbtn {
    border-radius: 50px;
    position: fixed;
    margin-left: -22px;
    margin-top: -50px;
}

.closebtn {
    width: 100%;
    border-radius: 0px;
    margin-top: -108px;
}