<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">View</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dabv">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="dabv">
        <ul class="navbar-nav">
            <li *ngFor="let leftHeaders of leftpaneHeader" class="nav-item" (click)="onToggleLeftHeaders(leftHeaders.id)">
                <a class="nav-link" href="#">{{leftHeaders.headerName}} <span class='check'
            *ngIf="leftHeaders.show"></span></a>
            </li>
        </ul>
    </div>
</nav>